*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 70px 1fr 30px;

  grid-template-areas:
    'header header'
    'sideBar content'
    'footer footer';


}

/* header */
.header {
  grid-area: header;
  background-color: #11acff;
  margin-bottom: 20px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;

}

.header__logo{
  display: flex;
}

.header__logo img{
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;


}

.header__logo p{

  color: #fff;
  font-size: 20px;
  font-style: italic;
  align-self: center;
  margin-left: 15px;
}

.header__auth{
  display: flex;
  width: 20%;
}

/* /header */
/* sidebar */
.sidebar {
  grid-area: sideBar;
  border-right: 1px solid #1151ff;
  margin-right: 10px;
  padding-right: 10px;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: flex;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: color .2s linear, background-color .2s linear;
  /* transition: color .2s linear; */
}

.nav__item:hover {
  color: #fff;
  background-color: #11acff;
  transition: color .2s linear, background-color .2s linear;
  /* transition: color .2s linear; */
}

/* /sidebar */
/* content */
.content {
  grid-area: content;
}

/* profile */
.profile {
  display: flex;
  flex-direction: column;
}

.profile__header {
  display: flex;
}

.profile__image {
  padding: 20px;
  background-color: #efefef;
  border-radius: 10%;
}

.profile__image-img {
  width: 150px;
  height: auto;
  border-radius: 10%;

}

.profile__info {
  padding: 20px;
  background-color: #efefef;
  border-radius: 40px;
  margin-left: 20px;
  width: 100%;
}

.profile__name {
  margin-left: 20px;
  font-size: 30px;

}

.profile__about {
  margin-left: 20px;
  font-size: 15px;
}

.profile__posts {
  display: flex;
  padding: 20px;
  background-color: #efefef;
  border-radius: 40px;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
}

.posts__header form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.posts__header textarea {
  border-radius: 20px;
  border: 5px solid #fff;
  background-color: #efefef;
  padding: 15px;
  height: 100px;
  font-size: 15px;
  resize: none;
  transition: all .2s linear;
}

.posts__header textarea:focus{
  outline: none;
  border-color: #8b909196;
}

.posts__header button{
  width: 20%;
  border-radius: 20px;
  border: 5px solid #11acff;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 15;
  font-weight: 700;
}


/* /profile */

/* post */
.post {
  display: flex;
  border: 5px solid #fff;
  border-radius: 20px;
  width: 100%;
  margin-top: 30px;
  flex-direction: column;
  justify-content: space-around;
}

.post__header {
  display: flex;
}

.post__image img {
  margin: 10px;
  border-radius: 50%;
  height: 50px;
  width: auto;
}

.post__info {
  margin: 10px;
  font-size: 15px;
  font-weight: 700;

}

.post__content {
  margin: 0 10px 20px 10px;
}

/* /post */
/* /content */

/* messages */
.messenger {
  display: grid;
  grid-template-columns: 3fr 9fr;
  width: 95%;
}

.messenger__companions {
  display: flex;
  height: 80vh;
  border-right: 1px solid #8b909196;
  flex-direction: column;

}

.messenger__companions a {
  text-decoration: none;
  color: #000;
}

.messenger__companion {
  margin-right: 5px;
  display: flex;
  border-top: 1px solid #8b909196;
  border-bottom: 1px solid #8b909196;
  margin-top: 5px;
  cursor: pointer;
  transition: all .2s linear;
}

.messenger__companion:hover {
  background-color: #efefef;
}

.companion__photo {
  padding: 5px 0;
}

.companion__photo img {
  border-radius: 50%;
  height: 50px;
  width: auto;
}

.companion__content {
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
}

.messenger__dialog {
  display: flex;
  height: 80vh;
  flex-direction: column;

}

.dialog__header {
  margin-left: 10px;
  padding: 5px 15px;
  display: flex;
  width: 100%;

  border: 2px solid #11acff;
  border-radius: 10px;
}


.dialog__header-image img {
  border-radius: 50%;
  height: 50px;
  width: auto;
}

.dialog__header-info {
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
}

.dialog__messages {
  margin-left: 10px;
  margin-top: -2px;
  padding: 10px 15px;
  display: flex;
  width: 100%;
  height: 100%;
  border: 2px solid #11acff;
  border-radius: 10px;
  flex-direction: column;
}

.message {
  margin-top: 5px;
}

.dialog__footer{
  margin-top: -2px;
  margin-left: 10px;
  padding: 5px 15px;
  display: flex;
  width: 100%;

  border: 2px solid #11acff;
  border-radius: 10px;
}
.dialog__footer form{
  display: flex;
  width: 100%;
  align-items: center;
}

.dialog__footer textarea{
  border-radius: 20px;
  border: 5px solid #11acff;
  background-color: #efefef;
  padding: 5px 10px;
  width: 80%;
  font-size: 15px;
  resize: none;
  transition: all .2s linear;
}

.dialog__footer textarea:focus{
  outline: none;
  border-color: #8b909196;
}

.dialog__footer button{
  width: 15%;
  border-radius: 20px;
  border: 5px solid #11acff;
  padding: 5px;
  cursor: pointer;
  font-size: 15;
  font-weight: 700;
  margin-left: 10px;
}

/* /messages */


/* users */

.users{
  display: grid;
  grid-template-columns: 10fr 2fr;
}

.people{
  display: flex;
  flex-direction: column;
}


.people__search{
  display: flex;
  flex-direction: column;
  width: 99%;
  border: 2px solid #8b909196;
  border-radius: 15px;
  
}

.people__search p{
  padding: 15px;
  margin: 0;
  border-bottom: 2px solid #8b909196;
}

.people__search form{
  display: flex;

}

.people__search input{
  margin: 10px;
  padding: 10px;
  width: 85%;
  border: 2px solid #8b909196;
  border-radius: 10px;
  transition: all .2s linear;
  font-size: 15px;

}

.people__search input:focus{
  outline: none;
  border-color: #11acff;
}

.people__search button{
  border: 2px solid #8b909196 ;
  background-color: #fff;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  margin: 10px 0px;
  padding: 10px;
  cursor: pointer;
  transition: all .2s linear;
}

.people__search button:hover{
  background-color: #efefef;
  border-color: #11acff;
}


.users__sidebar{
  border: 2px solid #8b909196;
  border-radius: 10px;
  height: 50vh;
  padding: 10px;
  
}


.people__result{
  display: flex;
  flex-direction: column;
  width: 99%;
  border: 2px solid #8b909196;
  border-radius: 15px;
  margin-top: -2px;
  height: 100%;
}

.people__user{
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-top: 1px solid #8b909196;
  border-bottom: 1px solid #8b909196;
  padding: 10px 5px;
}

.people__user a{
  text-decoration: none;
  color: #000;
}

.user__info{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.user__info img{
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.user__info p{
  margin: 0;
  margin-left: 10px;

}

.user__name{
  font-weight: 700;
}

.people__user button{
  border: 2px solid #8b909196 ;
  background-color: #fff;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  transition: all .2s linear;
  width: 30%;
}

.people__user button:hover{
  background-color: #efefef;
  border-color: #11acff;
}

/* /users */
/* footer */
.footer {
  grid-area: footer;
}

/* /footer */


/* Helpers */

.btn-showMore{
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #8b909196 ;
  background-color: #fff;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  transition: all .2s linear;
  width: 30%;
}

.btn-showMore:hover{
  background-color: #efefef;
  border-color: #11acff;
}


.btn-login {
  margin: auto auto;

  border: 2px solid #8b909196 ;
  background-color: #fff;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  transition: all .2s linear;
  width: 40%;
  height: 70%;
}

.btn-login:hover{
  background-color: #efefef;
  border-color: #000;
}


.preloader__image{
  margin: 0 auto;
}

/* /Helpers */