.app-wrapper{
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 70px 1fr 30px;

  grid-template-areas: 
    'header header'
    'sideBar content'
    'footer footer';
  

}
/* header */
.header {
  grid-area: header;
  background-color: #11acff;
  margin-bottom: 20px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header__logo {
  margin-left: 10px;
}
/* /header */
/* sidebar */
.sidebar {
  grid-area: sideBar;
  border-right: 1px solid #1151ff;
  margin-right: 10px;
  padding-right: 10px ;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: flex;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: color .2s linear, background-color .2s linear;
  /* transition: color .2s linear; */
}

.nav__item:hover {
  color: #fff;
  background-color: #11acff;
  transition: color .2s linear, background-color .2s linear;
  /* transition: color .2s linear; */
}
/* /sidebar */
/* content */
.content {
  grid-area: content;
}
/* /content */
/* footer */
.footer {
  grid-area: footer;
}
/* /footer */